@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Mulish:wght@300;400;500;700&family=Poppins:ital,wght@0,200;1,300&family=Roboto:wght@100;300;400;700;900&family=Ubuntu+Mono:wght@700&display=swap');
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
