@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,300&display=swap');


.right{
color:'black' !important;
}

.brand-logo,h2{
   font-family: 'Grand-Hotel', cursive;
   color: black;
}